@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.categoriesList {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background-color: #ebecf0;
}

.categoriesList::-webkit-scrollbar {
  height: 5px;
}

.category__Pill {
  white-space: nowrap;
  margin: 0.7rem;
  background-color: #d9dadd;
  color: rgb(43, 41, 41);
  padding: 0.6rem;
  border-radius: 1rem;
  border: 1px solid rgb(201, 192, 192);
  cursor: pointer;
}
