.VideoCardExpand__wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

@media screen and (max-width: 1080px) {
    .VideoCardExpand__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
